/**************************** global styling *********************************/

* {
  color: 333;
  background-color: none;
}

body {
  background-color: #68A6E8;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

h1, h2 {
  padding-bottom: 2rem;
}

/**************************** page container styling *********************************/

#page_container {
  display: block;
  width: 70%;
  margin: 1rem auto;
  padding: 3rem;
  padding-bottom: 5rem;
  background-color: white;
  border-radius: 2rem;
  overflow: auto;
}


/**************************** main content styling *********************************/


#main_content {
  display: block;
  width: 70%;
  float: left;
  color: 333;
  font-size: 1.5rem;
}


/**************************** weather aside styling *********************************/

#weather {
  display: inline-block;
  width: 25%;
  float: right;
  padding-top: 2rem;
}


/************************** authentication styling *********************************/


#authentication {
  width: 100%;
}

#sign_in {
  display: block;
  width: 50%;
  float: left;
}

#sign_up {
  display: block;
  width: 50%;
  float: left;
}

/**************************** nav bar styling *********************************/

nav {
  display: block;
  width: 100%;
  height: 7rem;
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  border-bottom: 1px solid gray;
}

nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

nav ul li {
  display: inline-block;
  width: 20%;
  float: left;
}


/**************************** mbark page styling *********************************/

.event {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  overflow: auto;
}

.event li {
  display: inline;
  float: left;
  padding-right: 2rem;
}

.event li.description {
  padding-top: 1rem;
  clear: both;
  float: left;
  display: block;
}

.mbark_dog_icon {
  width: 5rem;
}


/**************************** profile styling *********************************/


.dog_info img {
  display: inline-block;
  width : 10rem;

}

.dog_info ul {
  list-style: none;
}


/**************************** dog page styling *********************************/

.dog_icon {
  display: inline-block;
  width : 6rem;
}


/**************************** user page styling *********************************/

.users_list {
  font-size: 1.75rem;
}