<form id="create-dog" method="post" action="/dogs/new">
  <label class="label" for="dog[name]">Name</label>
  <input type="text" name="dog[name]" placeholder="Charles Barkley" >
  <br />
  <label class="label" for="dog[image]">Image URL</label>
  <input type="text" name="dog[image]" placeholder="www.mydogsimage.com" >
  <br />
   <label class="label" for="dog[breed]">Breed</label>
  <input type="text" name="dog[breed]" placeholder="Lab">
  <br />
  <label class="label" for="dog[size]">Dog Size</label>
  <input type="text" name="dog[size]" placeholder="Pretty Big">
  <br />
  <label class="label" for="dog[description]">Dog Description</label>
  <textarea name="dog[description]" placeholder="Pretty Big"></textarea>
  <br />
  <div class="submit"><input type="submit" value="Create Dog"></div>
</form>
