<%= erb :_nav, :layout => false %>

<main>
  <h1>Dogs</h1>
  <ul>
    <% @dogs.each do |dog|  %>
      <li><img class="dog_icon" src="<%= dog.image %>" /><%= "#{dog.name} #{dog.id} #{dog.breed} #{dog.size} #{dog.description}" %></li>
    <% end  %>
  </ul>
</main>