  <div id="index">
    <h1>Welcome to mBark!</h1>
    <h2>Meet People and Pooches at the Park!</h2>

    <div id="authentication">
      <div id="sign_in">
        <%= erb :_sign_in, :layout => false %>
      </div>

      <div id="sign_up">
        <%= erb :_sign_up, :layout => false %>
      </div>
    </div>
  </div>
</div>
